body{
    display: grid;
    grid-template-rows: 9fr 1fr;
}
.message-container{
    background-color:whitesmoke;
    height:90vh;
}
.writing-container{
    background-color:#804674;
    height:10vh;
}

#message-form{
    position: relative;
    margin: auto;
    text-align:center;
}
#input-box{
    position:relative;
    margin:3.8vh auto;
    width: 30%;
    height:2.2vh;
}
#message-button{
    height:2.7vh;
    font-size: 1.5vh;
}