<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chat-screen.css">
</head>
<body>
    <div class="message-container">
        <!-- <h1>Message container</h1> -->
    </div>
    <div class="writing-container">
        <!-- <h2>Writing container</h2> -->
        <form id="message-form" action="" method="post">
            <input id="typing-box" type="text">
            <button id="message-button" type="submit">Send</button>
        </form>
    </div>
</body>
</html>